
@{
    ViewBag.Title = "Admin Home Page";
}
<div class="row">
    <div class="col-md-12 text-center text-info" style="font-size:x-large;">
        Task Management
    </div>
</div>
<div class="row">
    <div class="col-md-4" id="sideDiv">
        <div class="list-group">
            <div id="liNewProject" class="mainPageTabs list-group-item active">Add New Project</div>
            <div id="liNewTask" class="mainPageTabs list-group-item">Add New Task</div>
            <div id="liNewRoles" class="mainPageTabs list-group-item">Add New Roles</div>
            <div id="liNewUsers" class="mainPageTabs list-group-item">Add New Users</div>
            <div id="liAssigntToProject" class="mainPageTabs list-group-item">Assign to Projects</div>
        </div>
    </div>
    <div class="col-md-8" id="MainDiv">
    </div>
</div>

